@import "tailwindcss";

:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #1db954;
  --color-danger: #e63946;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-danger: var(--color-danger);
}
